.wrapper {
    width: 100%;
    overflow: hidden;
    max-width: 1276px;
}

.slider {
    white-space: nowrap;
    transition: ease 1.5s;

    & .img-slide {
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        object-fit: cover;
    }
}

.dots {
    text-align: center;
    line-height: 2.2rem;

    & .slideshowDot {
        display: inline-block;
        height: 6px;
        width: 18px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 4px;
        background-color: #c4c4c4;
    }

    & .active {
        background-color: var(--primary);
    }
}