.wrapper {
    width: 100%;
    background-color: var(--text-white);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 2%), 0 4px 8px 0 rgb(0 0 0 / 2%);
}

.top {
    width: 100%;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;

    & .info-shop {
        display: flex;
        align-items: center;
    }

    & .response-shop {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.avatar-shop {
    height: 74px;
    width: 74px;
    margin-right: 8px;

    & .img-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.info {
    flex: 1;

    & .name {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
    }

    & .img-shop-plus {
        width: 44px;
        height: 16px;
        object-fit: cover;
        margin: 4px 0;
    }

    & .adress-and-reviews {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #6f787e;
        display: flex;
    }
}

.adress {
    border-right: 1px solid #6f787e;
    padding-right: 8px;
    margin-right: 8px;
}

.reviews {
    display: flex;
    align-items: center;

    & .star {
        color: #ffc600;
        font-size: 1.4rem;
        margin-left: 4px;
    }
}

.response {
    flex: 1;
    height: 42px;
    text-align: center;

    & .text-content {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #0f1e29;
        font-weight: 700;
        margin-bottom: 4px;
    }

    & .title {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #0f1e29;
    }
}

.action-shop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .btn-action {
        width: 208px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        font-weight: 700;

        & .content-btn {
            color: #3f4b53;
            font-size: 1.4rem;
            line-height: 1.29;
            margin-left: 8px;
        }
    }
}

.bottom {
    width: 100%; 

    & .title-bottom {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 700;
        color: #0f1e29;
        margin: 12px 0;
    }

    & .suggest-product {
        width: 100%;
        background-image: linear-gradient(180deg,#fff,#fbcbcb);
        border-radius: 8px;
        padding: 8px;
        display: flex;
        justify-content: space-between;
    }
}

.card-product {
    width: 140px;
    height: 230px;
    background-color: var(--text-white);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 -2px 2px 0 rgb(0 0 0 / 4%);
    display: flex;
    flex-direction: column;

    & .img-product {
        width: 100%;
        height: 130px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    & .info {
        flex: 1;
        padding: 16px 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.name-product {
    color: #0f1e29;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.price {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--price-color);
    font-weight: 700;
}