@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: rgb(238,38,36);
    --default-layout-header-height: 96px;
    --default-layout-content-width: 1356px;
    --body-width: 1308px;
    --input-search-header-width: 932px;
    --background-color: rgb(242,243,244);
    --text-white: #fff;
    --price-color: #ee2624;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

li {
    list-style-type: none;
}

html *::-webkit-scrollbar {
    width: 0.8rem;
}
html *::-webkit-scrollbar-thumb {
    background: #cfd2d4;
    border-radius: 4px;
}
html *::-webkit-scrollbar-track {
    background: #fff;
}