.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    & .inner {
        width: var(--default-layout-content-width);
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
    }
}

.item {
    width: 102px;
    text-align: center;
    
    &:hover {
        cursor: pointer;
    }
    
    & .icon {
        width: 44px;
        height: 44px;
    }
    
    & .title {
        width: 100%;
        line-height: 1.8rem;
        font-size: 1.4rem;
        color: rgb(0,0,0);
    }
}

// Loading

.loading {
    width: 100%;
    padding: 16px;
}