.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.top {
    width: 100%;
}

.middle {
    margin: 20px 0;

    & .shop-and-info {
        width: 100%;
        display: flex;
        padding: 8px;
    }

    & .text-recommend-product {
        font-size: 1.6rem;
        color: black;
        font-weight: 700;
        line-height: 2.2rem;
        padding: 4px 8px;
        margin-top: 16px;
        margin-bottom: 6px;
    }
}

.store-info {
    width: 521px;
    margin-right: 24px;
}

.product-info {
    flex: 1;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .button {
        width: var(--default-layout-content-width);
        padding: 0 24px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}