.wrapper {
    padding: 8px 12px;
    line-height: 2.4rem;
    color: #6f787e;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #f2f3f4;
    }
}