.wrapper {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 16px;
    margin-bottom: 12px;
    background-color: var(--text-white);
    border-radius: 4px;
    box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 2%), 0 4px 8px 0 rgb(0 0 0 / 2%);
    
    & .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .middle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }

    & .bottom {
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
    }
}

.info-shop {
    width: 100%;
    display: flex;
    align-items: center;
    height: 32px;

    & .shop-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }

    & .shop-name {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #0f1e29;
        margin-left: 8px;
        font-weight: 700;
        cursor: pointer;
    }
}

.btn-action {
    width: fit-content;
    background-color: transparent;
    height: 32px;
    transition: background-color 0.2s;
    padding: 7px;
    color: #6F787E;

    &:hover {
        background-color: #f2f3f4;
    }

    & .chat-shop {
        width: 88px;
        font-size: 1.4rem;
        line-height: 1.29;
        color: #3f4b53;
        font-weight: 700;
        margin-left: 8px;
    }
}

.buy {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .input-checkbox {
        height: 16px;
        width: 16px;
        margin-right: 20px;
    }

    & .info-product {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.info {
    width: 323px;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .payment-method {
        width: fit-content;
        color: #133096;
        background-color: #e2e6f2;
        padding: 4px 12px;
        border-radius: 20px;
        font-size: 1.2rem;
        line-height: 1;
        font-weight: 700;
    }

    & .name-product {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #0f1e29;
        font-weight: 400;
    }

    & .size-and-color {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        border: 1px solid #cfd2d4;
        border-radius: 4px;
        padding: 4px 12px;

        &:hover {
            border-color: #3f81fe;
            cursor: pointer;
        }
    }
}

.size, .color {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #0f1e29;
    font-weight: 400;
}

.color {
    border-left: 1px solid #414141;
    margin-left: 8px;
    padding-left: 8px;
}

.money {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 16px;

    & .price {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #0f1e29;
        font-weight: 700;
    }

    & .original-price {
        font-size: 1.1rem;
        line-height: 1.2rem;
        color: #b7bbbf;
        text-decoration: line-through;
    }
}

.amount {
    width: 120px;
    margin: 0 16px;
}

.action {
    width: 88px;
    display: flex;
    justify-content: flex-end;
    margin-left: 16px;
}

.btn-action + .btn-action {
    margin-left: 8px;
}

.voucher-shop {
    font-size: 1.4rem;
    font-weight: 400;
    color: #0f1e29;
    line-height: 1.8rem;
    margin: 0 8px;
}

.arrow {
    color: #6f787e;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
        color: var(--primary);
    }
}

.current-size, .current-color {
    width: 100%;
    display: flex;
    padding: 6px;
}

.current-color {
    margin-bottom: 20px;
}

.list-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #6f787e;
    display: flex;
    align-items: center;
    padding: 6px;
    height: 43px;

    & .pick-size {
        padding: 8px;
        cursor: pointer;
    }

    & .pick-size:first-child {
        padding-left: 0;
    }
}

.title, .content {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #0f1e29;
    font-weight: 400;
}

.title {
    margin-right: 8px;
}

.content {
    font-weight: 700;
}

.unit-price {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    & .price {
        font-weight: 700;
        font-size: 1.4rem;
        color: #0f1e29;
        line-height: 1.8rem;
    }
}