.wrapper {
    width: 100%;
    max-height: 540px;
    background-color: var(--text-white);
    padding: 24px;
    box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 2%), 0 4px 8px 0 rgb(0 0 0 / 2%);
    border-radius: 8px;
    overflow-y: auto;
}

.title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: #0f1e29;
}

.mt-16 {
    margin-top: 16px;
}

.content {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #0f1e29;
}

.content-detail {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #0f1e29;
    font-weight: 400;
}