.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-bold {
    font-weight: 700;
}

.mr-8 {
    margin-right: 8px;
}

.top, .middle, .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    background-color: #fafafa;
}

.middle {
    font-size: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.inner {
    width: var(--default-layout-header-width);
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// middle content
.content {
    flex: 1;
    height: 164px;
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;

    & .title {
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0.7;
        margin-bottom: 12px;
    }

    & .list-items {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.list-items .item {
    color: #3f4b53;
    margin-bottom: 8px;
    
    &:hover {
        color: var(--primary);
    }
}

.container {
    width: 100%;

    & .text {
        width: 200px;
        color: #3f4b53;
        margin-bottom: 16px;
    }
}

.app {
    width: 327px;
    height: 96px;
    display: flex;
    flex-wrap: wrap;

    & .img-app {
        width: 120px;
        height: 40px;
        margin-right: 8px;
        cursor: pointer;
    }
}

.bottom {
    background-color: #27343e;
    padding: 24px 0;
}

.info-company {
    width: 545px;
    
    & .text-info {
        font-size: 1.2rem;
        color: var(--text-white);
        margin-bottom: 12px;
    }
}

.certificate {
    width: 100%;

    & .img-cer {
        width: 109px;
        height: 33px;
        margin-right: 16px;
    }
}

.register-email {
    width: 654px;
    height: 231px;
    display: flex;
    flex-direction: column;
    

    & .promotion {
        color: var(--text-white);
        font-size: 1.2rem;
        margin-bottom: 12px;
    }

    & .form-register {
        display: flex;
    }
}