.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    & .inner {
        width: var(--default-layout-content-width);
        padding: 0 24px;
    }
}

.content {
    width: 100%;
    background-color: var(--text-white);
    border-radius: 8px;
    padding: 24px;
    min-height: 850px; 
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 -2px 2px 0 rgb(0 0 0 / 2%);
}