.wrapper {
    width: 100%;
    position: relative;
    
    & .close {
        position: absolute;
        display: flex;
        justify-content: center;
        right: 2%;
        width: 20px;
        top: 12px;
        cursor: pointer;
        color: var(--primary);
    }
}