.wrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    & .inner {
        width: var(--body-width);
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 2%), 0 4px 8px 0 rgb(0 0 0 / 2%);
        display: flex;
        flex-direction: column;
    }

    & .loading {
        width: var(--body-width);
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 2%), 0 4px 8px 0 rgb(0 0 0 / 2%);
        display: flex;
        justify-content: center;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    & .left {
        display: flex;
        width: 220px;
        align-items: center;

        & .sale {
            height: 28px;
            margin-right: 6px;
        }
    }

    & .see-all {
        color: #0f62fe;
        font-size: 1.4rem;
        margin-right: 8px;
    }
}

.img-flash-sale {
    width: 119px;
    height: 28px;
}

.products {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px;

    & .card-product {
        width: 144px;
        height: 206px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 -2px 8px 0 rgb(0 0 0 / 5%), 0 4px 8px 0 rgb(0 0 0 / 5%);
        border-radius: 8px;
        position: relative;
        transition: box-shadow 0.3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 8px 16px 0 rgb(0 0 0 / 15%), 0 -4px 8px 0 rgb(0 0 0 / 6%);
        }
    }
}

.img-product {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.img-text-sale {
    width: 70.66px;
    height: 20px;
    border-radius: 4px;
    position: absolute;
    top: 65%;
    left: 8%;
}

.price-product {
    width: 100%;
    padding: 16px 8px 8px;

    & .price {
        font-size: 1.6rem;
        color: var(--price-color);
        font-weight: 700;
        line-height: 2.2rem;
    }

    & .discount {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

.original-price {
    color: #b7bbbf;
    text-decoration: line-through;
    margin-right: 5px;
}

.discount-percent {
    color: var(--price-color);
}

//loading 
